.App {
  text-align: center;
  display: flex;
  /*flex-direction: row 가 디폴트값*/
  overflow: hidden; /* div 스크롤이 생기지 않도록함 */
  justify-content: space-between; /*가로축(default) 기준 정렬 */
  align-items: center; /*세로축 기준 정렬*/
}

.container{
  display: flex;
  width: 100%; /* 화면창 기준 가로(vw) 100*/
  position: absolute;
  border-top: 10px solid orange; /* div 박스의 아랫부분 선 만들기 선의 굵기, 선 타입, 색상 */
  border-bottom: 10px solid orange;
  justify-content: center;
  align-items: center;
}

.App_orangeline1{
  display: flex;
  background-color: orange;
  height: 100vh;
  width: 10px;
  margin-left: 30px;
  position: relative;
  z-index: 1; /* 디폴트가 0, 0보다 클 수록 위로, 0보다 작을 수록 아래로 감 */
}

.App_orangeline2{
  display: flex;
  background-color: orange;
  height: 100vh;
  width: 10px;
  margin-right: 30px;
  position: relative;
  z-index: 1;
}

.container-box{
  display: flex;
  width: calc(100% - 80px);
  height: calc(100vh - 150px);
  padding: 30px 0; /* 상하 좌우 적용 */
}